<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload</title>
  <link rel="stylesheet" href="/stylesheets/upload.css" />
</head>

<body>
  <ul id="nav-bar">
    <li>
        <a href="/">Covid map</a>
    </li>
    <li style="float: right;">
        <a class="active" href="/upload">Upload</a>
    </li>
</ul>
  <div>업로드</div>
  <script type="text/javascript" src="/javascripts/upload.js"></script>
</body>
</html>