body {
  padding: 0px !important;
  margin: 0px !important;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

.active {
  background-color: green;
}

li a:hover:not(.active) {
  background-color: #111;
}

.marker {
  width: 15px;
  height: 15px;
  background: green;
  border: 1px solid black;
  border-radius: 50%;
}

.info-window_wrap {
  background: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.info-window_title {
  font-size: 15px;
  font-weight: bolder;
}

.info-window_address {
  font-size: 13px;
  font-weight: normal;
}
